<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>Upload Image to Database</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Image:</td>
                <td>
                    <input type="file" name="image" id="" accept="image/*">
                </td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>
                    <textarea name="comment" id="" cols="30" rows="4"></textarea>
                </td>
            </tr>
            <tr>
                <td>Uploader:</td>
                <td>
                    <input type="text" name="uploader" id="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Post</button>
                </td>
            </tr>
        </table>
    </form>

    <h1>Upload Image to Digital Ocean</h1>

    <form action="/upload/s3" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Image:</td>
                <td>
                    <input type="file" name="image" id="" accept="image/*">
                </td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>
                    <textarea name="comment" id="" cols="30" rows="4"></textarea>
                </td>
            </tr>
            <tr>
                <td>Uploader:</td>
                <td>
                    <input type="text" name="uploader" id="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Post</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>